@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-500 focus:ring focus:ring-sky-500 md:px-6 md:py-3;
  }
  .icon {
    @apply relative flex items-center justify-center h-16 w-16 mt-6 mb-4 mx-auto shadow-lg bg-gray-800 text-sky-500 hover:bg-sky-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
