@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-md border border-fuchsia-500 px-4 py-2 text-lg transition-all duration-300 placeholder:text-black text-black focus:ring focus:ring-fuchsia-500 md:px-6 md:py-3;
  }
  .icon {
    @apply relative flex items-center justify-center h-16 w-16 mt-6 mb-4 mx-auto shadow-lg bg-gray-800 text-fuchsia-500 hover:bg-fuchsia-400 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .custom-spin {
    animation: spin 4s linear infinite;
  }

  .overflow-x-auto::-webkit-scrollbar {
    width: 12px;
  }

  .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: rgb(162 28 175);
    border-radius: 4px;
  }

  .overflow-x-auto::-webkit-scrollbar-track {
    border-radius: 6px;
  }

  /* Add this to your stylesheet or in your Tailwind CSS configuration */
  .shadow-custom {
    filter: drop-shadow(8px 12px 12px rgba(224, 126, 218, 0.5));
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Apply the animation to elements with the animate-fadeIn class */
  .animate-fadeIn {
    animation: fadeInScale 0.5s ease-out;
  }

  @keyframes fadeInRotate {
    0% {
      opacity: 0;
      transform: rotate(-30deg) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }

  /* Apply the new animation to elements with the animate-fadeInRotate class */
  .animate-fadeInRotate {
    animation: fadeInRotate 0.5s ease-out;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.fuchsia.500) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
